[Desktop Entry]
Name=Ravikoodi content server
Exec=usr/bin/ravikoodi
Version=1.1.11
Comment=Small server to broadcast local media content to KODI Media Player
Icon=ravikoodi-logo-1024.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=AudioVideo;
